{% extends "layout/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="header w-full h-36 bg-no-repeat bg-cover bg-top hover:bg-blend-hard-light "
         style="background-image: url('{{ url_for('static',filename='img/bg-img4.jpg') }}');">
        <div class="container">
            <h1 class="text-3xl text-center text-white pt-5 font-bold">
                Create Album
            </h1>
        </div>
    </div>
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <h2 class="text-2xl font-bold mb-3">Add New Album</h2>
                <form action="{{ url_for('creator.store_album') }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="album_name">Album Name</label>
                        <input type="text" required name="album_name" class="form-control">
                    </div>

                    <div class="form-group">
                        <label>Genre</label>
                        <select name="genre_id" class="form-control" required>
                            <option value="">--select--</option>
                            {% for genre in genres %}
                                <option value="{{ genre.genre_id }}">{{ genre.genre_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="song_name">Album Thumbnail (square picture is recomended)</label>
                        <input type="file" name="file" class="form-control">
                    </div>
                    <button class="btn btn-primary">Create Album</button>
                </form>
            </div>
        </div>

    </div>
{% endblock %}