{% extends "layout/base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
    <div class="header w-full h-36 bg-white bg-no-repeat bg-cover bg-top hover:bg-blend-hard-light transition-all delay-1000 "
         style="background-image: url('{{ url_for('static',filename='img/bg-img4.jpg') }}');">
        <div class="container">
            <h1 class="text-3xl text-center text-white pt-5 font-black ">
                Artist : {{ creator.name }}
            </h1>
        </div>
    </div>
    <div class="container mt-3">
        <div>
            <div class="w-full">
                <div class="w-40 h-40 border-2 mx-auto rounded-2xl bg-cover bg-no-repeat bg-gray-400 border " style="background-image: url('{{ url_for('main.serve_file',file=creator.profile_photo_file,folder='tuser') }}')"></div>
                <h1 class="text-2xl text-center">{{ creator.name }}</h1>
            </div>

        </div>
        <div class="p-5">
            <div class="row mb-4 justify-content-center">
                <div class="col-lg-3 bg-gray-800 text-white border px-3 py-2 rounded">
                    <h3 class="text-lg font-medium">Total Songs</h3>
                    <h2 class="text-2xl">{{ creator.songs | length }}</h2>
                </div>
                <div class="col-lg-3 bg-gray-800 text-white border px-3 py-2 rounded">
                    <h3 class="text-lg font-medium">Total Albums</h3>
                    <h2 class="text-2xl">{{ creator.albums | length }}</h2>
                </div>

                <div class="col-lg-3 bg-gray-800 text-white border px-3 py-2 rounded">
                    <h3 class="text-lg font-medium">Average song Ratings</h3>
                    <h2 class="text-2xl">{{ 0 if average_rating is none else average_rating | round(2) }} / 5</h2>
                </div>
            </div>



            <div class="container mt-3 max-w-7xl">
                <div>
                    <h6 class="text-lg">Songs of {{ creator.name }}</h6>
                    <hr class="my-2">
                    <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-3 justify-items-center">
                        {% for song in creator.songs %}
                            <div class="col-span-1">
                                <a href="{{ url_for('main.play_song',song_id=song.id) }}">
                                    <div class="flex justify-between">
                                        <div class="flex gap-2 flex-col">
                                            <div class="music-card bg-black"
                                                 style="background-image: url('{{ url_for('main.serve_file',file=song.thumbnail,folder='tsong') }}');background-size:cover;">
                                                <i class="bi bi-play-circle-fill play-icon"></i>
                                            </div>
                                            <div class="text-center">
                                                <div class="font-normal">
                                                    <p class="text-sm">{{ song.title }}</p>
                                                    <span class="block text-gray-800 font-normal text-sm italic">{{ song.artist.name }} </span>
                                                    <span class="block text-gray-800 font-normal text-xs italic">Album : {{ song.album.album_name }} </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                </div>


                <div>
                    <h6 class="text-lg mt-3">Top Albums of {{ creator.name }}</h6>
                    <hr class="my-2">
                    <div class="grid lg:grid-cols-6 md:grid-cols-4 grid-cols-3 justify-items-center">
                        {% for album in creator.albums %}
                            <div class="col-span-1">
                                <div class="flex justify-between">
                                    <div class="flex gap-2 flex-col">
                                        <a href="{{ url_for('main.view_album',aid=album.album_id) }}">
                                            <div class="album-card bg-yellow-400"
                                                 style="background-image: url('{{ url_for('main.serve_file',file=album.thumbnail,folder='talbum') }}');background-size:cover;">
                                                <i class="bi bi-file-earmark-music-fill play-icon"></i>
                                            </div>
                                            <div class="text-center">
                                                <div class="font-normal">
                                                    <p class="text-sm">{{ album.album_name }}</p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>


            </div>
        </div>




{% endblock %}